.cart-section {
  padding: 20px 0 40px;
  display: flex;
  justify-content: center;
}
.cart-section .cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.empty-cart-image {
  width: 400px;
}
.empty {
  color: #409cb5;
}
.cart-items .cart-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1.5px solid gray;
}
.cart-items .cart-item img {
  width: 100px;
}
.cart-item .description-price {
  flex: 1;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.cart-item .cart-item-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
}
.cart-item .cart-item-description span {
  font-size: 18px;
  font-weight: 700;
}
.cart-item-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.cart-item-price .item-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
.cart-item-price .price-button {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid black;
}
.cart-item-price .price-button:disabled {
  cursor: not-allowed;
}
.item-price {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
