:root {
  --main-color: #efefef;
  --primary-color: #1976d2;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
html {
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;

  overflow-x: hidden;
  overflow-y: auto;
}
body {
  margin: 0;
  background-color: var(--main-color);
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;

  overflow-x: hidden;
  overflow-y: auto;
}
a {
  text-decoration: none;
  color: unset;
}
h2 {
  margin: 0;
}
li {
  list-style-type: none;
}
.search-box {
  flex: 0.8;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 20px;
}
.search-box input {
  margin-left: 20px;
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}
.search-box input:focus {
  outline: none;
}
.search-box .bi-search {
  padding: 0 20px;
  color: #888;
  cursor: pointer;
}
